<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /edt-manager-app/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_URI} !^/edt-api/api/.*$
  RewriteCond %{REQUEST_URI} !^/edt-api/uploads/.*$
  RewriteRule . /edt-manager-app/index.html [L]

</IfModule>
